{% extends "layout.html" %}
{% block style %}
<title>Results</title>
{% endblock style %}
{% block content %}
<div class="container-fluid toppadding">
  
  {% if filename_json_checked %}
  <div style="text-align: center">
    <a style="width: 15vw" class="btn btn-dark" role="button"
      href="{{ url_for('download_file', name=filename_bpmn_checked) }}">Download
      updated diagram </a>
    <a style="width: 15vw" class="btn btn-dark {% if not enteredadd %} disabled" aria-disabled="true {% endif %}"
      role="button" download href="{{ url_for('download_file', name=filename_json_checked) }}">Download updated
      database</a>
  </div>

  {% if endparameters %}

    <form method="post" action="/bpmn" id="addparameterfill">
      <div class="row">
        {% for item in endparameters %}
        <div class="form-group col-md-4">
          <label for="{{ item.id }}">{{ item.name }}:</label>
          <br />
          <input class="form-control" type="text" name="{{ item.id }}" id="{{ item.id }}" />
        </div>
        {% endfor %}
      </div>
    </form>
    <button form="addparameterfill" class="btn btn-dark my-2" type="submit">Send additional parameters</button>
    {% endif %}

    <div id="diagram-container" class="my-4">
      <div id="diagram"></div>
    </div>

    <!-- modeler distro -->
    <script src="https://unpkg.com/bpmn-js@13.2.0/dist/bpmn-modeler.development.js"></script>

    <!-- jquery (required for example only) -->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

    <!-- app -->
    <script>
      var viewer = new BpmnJS({
        container: "#diagram",
      });

      async function showDiagram(diagramXML) {
        await viewer.importXML(diagramXML);

        var overlays = viewer.get("overlays"),
          canvas = viewer.get("canvas"),
          elementRegistry = viewer.get("elementRegistry"),
          modeling = viewer.get("modeling");
      }

      // load + show diagram
      $.get("{{ url_for('static', filename=filename_bpmn_checked) }}", showDiagram);
    </script>

    {% for datatype,name in zipt %}
    {% if datatype %}
    <h4>{{ name }}</h4>
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th style="width: 12%" scope="col">ID</th>
          <th style="width: 62%" scope="col">Description</th>
          <th style="width: 14%" scope="col">Value</th>
          <th style="width: 120%" scope="col">Unit of measurement</th>
        </tr>
      </thead>
      <tbody>
        {% for item in datatype %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.value }}</td>
          <td>{{ item['unit of measurement'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endfor %}

    {% endif %}

  {% endblock content %}