{% extends "layout.html" %}
{% block style %}
<title>Home</title>
{% endblock style %} {% block content %}

<div class="container-fluid toppadding">
  {% if negative_message %}
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    {{ negative_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %} {% if positive_message %}
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    {{ positive_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endif %}

  <div style="text-align: center">
    <form method="post" enctype="multipart/form-data" id="fileupload">
      <label class="form-label-file mb-3">BPMN diagram:</label>
      <br />
      <input class="btn btn-light mb-3" type="file" name="bpmn" id="bpmn" />
      <br />
      <label class="form-label-file mb-3">JSON database:</label>
      <br />
      <input class="btn btn-light mb-3" type="file" name="json" id="json" />
    </form>
    {% if filenamebpmn %}
    <form method="post" id="performcheck">
      <input type="hidden" name="processbutton" value="true">
    </form>
    {% endif %}
    <button style="width: 10vw" form="fileupload" class="btn btn-dark my-2" type="submit">Upload files</button>
    <button style="width: 10vw" form="performcheck" type="submit" class="btn btn-dark my-2" {% if not filenamebpmn %} disabled {% endif %}>Check compliance</button>
    <a style="width: 10vw" class="btn btn-dark {% if not done %} disabled" aria-disabled="true {% endif %}" role="button" href="/bpmn">Check results</a>
  </div>


  {% if filenamebpmn %}

  <div id="diagram-container">
    <div id="diagram"></div>
  </div>

  <!-- modeler distro -->
  <script src="https://unpkg.com/bpmn-js@13.2.0/dist/bpmn-modeler.development.js"></script>

  <!-- jquery (required for example only) -->
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

  <!-- app -->
  <script>
    var viewer = new BpmnJS({
      container: "#diagram",
    });

    async function showDiagram(diagramXML) {
      await viewer.importXML(diagramXML);

      var overlays = viewer.get("overlays"),
        canvas = viewer.get("canvas"),
        elementRegistry = viewer.get("elementRegistry"),
        modeling = viewer.get("modeling");
    }

    // load + show diagram
    $.get("{{ url_for('static', filename=filenamebpmn) }}", showDiagram);
  </script>

</div>

{% endif %} {% endblock content %}