{% extends "layout.html" %} {% block style %}

<title>Home</title>

<style>
  body,
  html {
    height: 100%;
    margin: 1, 5%;
  }

  #diagram-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #diagram {
    border: 1px solid black;
    width: 96vw;
    /* 80% of the viewport width */
    height: 60vh;
    /* 50% of the viewport height */
  }
</style>

<!-- required modeler styles -->
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.0/dist/assets/diagram-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.0/dist/assets/bpmn-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.0/dist/assets/bpmn-font/css/bpmn.css" />

{% endblock style %} {% block content %}
<h1>Upload Files</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      {% if negative_message %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ negative_message }}
      </div>
      {% endif %} {% if positive_message %}
      <div class="alert alert-success mt-3" role="alert">
        {{ positive_message }}
      </div>
      {% endif %}
      <div>
        <form method="post" enctype="multipart/form-data">
          <label class="form-label-file my-2">BPMN diagram:</label>
          <br />
          <input class="btn btn-light my-2" type="file" name="bpmn" id="bpmn" />
          <br />
          <label class="form-label-file my-2">JSON database:</label>
          <br />
          <input class="btn btn-light my-2" type="file" name="json" id="json" />
          <br />
          <input class="btn btn-dark my-4" type="submit" value="Upload files" />
        </form>
      </div>

      {% if filenamebpmn %}
    </div>
    <div class="col-sm">
      <div class="ml-3">
        <p>Dit is wat tekst bla bla</p>
        <form method="post">
          <input type="hidden" name="processbutton" value="true">
          <button type="submit" class="btn btn-dark">Primary</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if filenamebpmn %}

<!--
<p>
  Download uploaded File 1:
  <a href="{{ url_for('download_file', name=filenamedatabase) }}">Download</a>
</p>
<p>
  Download uploaded File 2:
  <a href="{{ url_for('download_file', name=filenamebpmn) }}">Download</a>
</p>

-->

<p>Ruleset: {{ filenamebpmn }}</p>

<div id="diagram-container">
  <div id="diagram"></div>
</div>

<!-- modeler distro -->
<script src="https://unpkg.com/bpmn-js@13.2.0/dist/bpmn-modeler.development.js"></script>

<!-- jquery (required for example only) -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

<!-- app -->
<script>
  var viewer = new BpmnJS({
    container: "#diagram",
  });

  async function showDiagram(diagramXML) {
    await viewer.importXML(diagramXML);

    var overlays = viewer.get("overlays"),
      canvas = viewer.get("canvas"),
      elementRegistry = viewer.get("elementRegistry"),
      modeling = viewer.get("modeling");
  }

  // load + show diagram
  $.get("{{ url_for('static', filename=filenamebpmn) }}", showDiagram);
</script>

{% endif %} {% endblock content %}